.chatBlock {
    width: 790px;
    height: 200px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25%;
    float: left;
    overflow: scroll;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#prototype {
    width: 770px;
    background-color: whitesmoke;
    float: left;
}

.messageBlock {
    width: 770px;
    margin-top: 1px;
    float: left;
}

.textBlock {
    width: 702px;
    height: 29px;
    margin-bottom: 1%;
    margin-left: 25%;
    float: left;
}

.buttonBlock {
    width: 63px;
    height: 29px;
    margin-bottom: 1%;
    margin-left: 20px;
    float: left;
}

.userLabelField {
    text-align: right;
    margin-right: 1px;
    margin-top: 7px;
    display: inline-block;
    width: 250px;
    height: 25px;
    float: left;
}

.userField {
    margin-left: 5px;
    height: 25px;
    float: left;
}

.userSubmitButton {
    text-align: center;
    margin-top: 4px;
    margin-left: 5px;
    float: left;
}
